{
  "plugins": [
    "react"
  ],
  "extends": ["eslint:all", "plugin:react/all"],
  "rules": {
    "indent": "warn",
    "react/jsx-indent": "warn",
    "react/jsx-max-depth": "warn",
    "react/jsx-closing-tag-location": "warn",
    "react/jsx-closing-bracket-location": "warn",
    "react/forbid-component-props": "warn",
    "react/jsx-sort-props": "warn",
    "sort-imports": "warn",
    "func-style": "warn",
    "react/jsx-filename-extension": "warn",
    "react/destructuring-assignment": "warn",
    "react/prop-types": "warn",
    "max-lines-per-function": "warn",
    "no-ternary": "warn",
    "max-len": "warn",
    "no-magic-numbers": "warn",
    "no-underscore-dangle": "warn",
    "no-shadow": "warn",
    "guard-for-in": "warn",
    "sort-keys": "warn",
    "no-unused-vars": "warn",
    "no-undef": "warn",
    "no-extra-parens": "warn",
    "react/jsx-first-prop-new-line": "warn",
    "react/jsx-indent-props": "warn",
    "object-curly-spacing": "warn",
    "quotes": "warn",
    "semi": "warn",
    "react/jsx-one-expression-per-line": "warn",
    "react/function-component-definition": "warn",
    "array-element-newline": "warn",
    "array-bracket-spacing": "warn",
    "multiline-ternary": "warn",
    "padded-blocks": "warn",
    "function-paren-newline": "warn",
    "newline-per-chained-call": "warn",
    "arrow-parens": "warn",
    "comma-dangle": "warn",
    "function-call-argument-newline": "warn",
    "quote-props": "warn",
    "one-var": "warn",
    "react/jsx-max-props-per-line": "warn",
    "react/jsx-newline": "warn",
    "eol-last": "warn"
  }
}
